.btn, a.btn, .submit-button, .alm-load-more-btn {
    display: inline-block;
    text-align: center;
    font-family: $brand-font-family;
    color: $white;
    text-transform: uppercase;
    margin: 10px auto 0 auto;
    background: $brand-primary;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: $brand-primary;
    padding: 15px 35px;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:hover {
        -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.35);
        -moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.35);
        box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.35);
    }
}
.btn-primary, a.btn-primary {
    background: $brand-primary;
}
.btn-secondary, a.btn-secondary {
    background: $gray-lighter;
}
.btn-white, a.btn-white {
    background: $white;
    color: $brand-primary;
    &:hover {
        -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.35);
        -moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.35);
        box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.35);
    }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
    .close {
        top: 5px;
        right: 10px;
    }
    .btn, a.btn, .submit-button {
        min-width: 240px;
    }
}
@media all and (min-width: 992px) {
    .alm-btn-wrap {
        .alm-load-more-btn {
            height: 56px!important;
            font-size: 1.2rem!important;
            width: 320px!important;
        }
    }
}