i {
    display: inline-block;
}
.social {
    .twitter, .facebook, .linkedin, .instagram, .pinterest, .googleplus {
        background: url('../../assets/img/social-icons-sprite.svg') no-repeat;
        background-size: cover;
        width: 35px;
        height: 35px;
    }
    .twitter {
        background-position: 0 0;
    }
    .facebook {
        background-position: -35px 0;
    }
    .linkedin {
        background-position: -70px 0;
    }
    .instagram {
        background-position: -105px 0;
    }
    .pinterest {
        background-position: -140px 0;
    }
    .googleplus {
        background-position: -175px 0;
    }
}
