h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em
}
h3 {
    font-size: 2.313em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 400;
    color: pink;
}
h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
}
.light {
    font-weight: 100;
}
.bold, strong {
    font-weight: 700;
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {

}
@media all and (min-width: 992px) {
    h1 {
        font-size: 2.375em;
    }
    h2 {
        font-size: 1.85em;
    }
}
