.footer-dark-strip{
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: #3c3c3b;
  font-size: .9rem;
  font-weight: 400;
  color: #fff;
  .nobr{
    white-space: nowrap;
  }
  .blue{
    color: $brand-primary;
    font-weight: 700;
    a{
      color: $brand-primary;
    }
  }
  img{
    margin-right: 5px;
  }
  .margin-left{
    margin-top: 12px;
    margin-left: 0px;
  }
}

.footer-blue{
  background-color: $brand-primary;
  padding-top: 52px;
  padding-bottom: 50px;
  p{
    font-weight: 600;
    padding-bottom: 10px;
  }
}
.privacy-cookie {
  margin: 20px auto;
  color: $brand-button;
  font-weight: 700;
  line-height: 20px;
  font-size: 20px;
  a {
    color: $text-color;
    font-weight: 600;
    font-size: 1.15rem;
  }
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {
  .footer-dark-strip{
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 1.2rem;
    .nobr{
      white-space: nowrap;
    }
    img{
      margin-right: 18px;
    }
    .margin-left{
      margin-top: 0px;
      margin-left: 16px;
    }
  }
  .footer-blue{
    padding-top: 32px;
    padding-bottom: 30px;
  }

}

@media all and (min-width: 992px) {
  .footer-dark-strip{
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 1.2rem;
    img{
      margin-right: 18px;
    }
    .margin-left{
      margin-left: 16px;
    }
  }
  .footer-blue{
    padding-top: 32px;
    padding-bottom: 30px;
  }

}

@media all and (min-width: 1200px) {
  .footer-dark-strip{
    font-size: 1.7rem;
  }
  .footer-blue{
    padding-top: 52px;
    padding-bottom: 50px;
    p{
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

}
