.top-nav{
    background-color: #fff;
    .stackdoor-logo{
        text-align: right;
        img{
            width: 80%;
        }
    }
    .navbar-toggler{
        padding: 0px 0px 0px 10px;
        border: none !important;
        width: 60px;
        height: 50px;
        .navbar-toggler-icon{
            width: 100%;
            height: 100%;
            padding-top: 7px;
        }
        img{
            width: 40px;
        }
    }
    ul{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        a{
            color: $text-color;
            font-weight: 600;
            font-size: 1.15rem;
        }
        .space{
            color: $brand-button;
            font-weight: 700;
            line-height: 20px;
            font-size: 20px;
        }
    }
}

.gray-info{
    background-color: $text-color;
    color: #fff;
    font-weight: 600;
    .container-grey-info{
        padding: 14px;
        font-weight: 600;
    }
    .blue{
        color: $brand-button;
    }
    .nobr{
        white-space: nowrap;
    }
    img{
        padding-left: 25px;
    }
}


.navbar-toggler {
    border: none !important;
    outline: none !important;
    margin-bottom: 5px;
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
    .top-nav{
        .stackdoor-logo{
            margin-right: 0px;
        }
        ul{
            width: 100%;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: .9rem;
            }
            .space{
                font-weight: 700;
                line-height: 20px;
                font-size: 20px;
            }
            .extra-padding-top{
                padding-top: 24px;
            }
        }
    }
    .gray-info{
        img{
            margin-right: 10px;
        }
    }
}

@media all and (min-width: 1200px) {
    .top-nav{
        .stackdoor-logo{
            margin-right: 26px;
            img{
                width: 100%;
            }
        }
        ul{
            a{
                font-size: 1.15rem;
            }
            .space{
                font-weight: 700;
                line-height: 20px;
                font-size: 20px;
            }
            .extra-padding-top{
                padding-top: 38px;
            }
        }
    }
}

