.main-banner{
    background-color: $brand-secondary;
    .second-banner-image{
        padding-top: 7px;
    }
    .left-side{
        width: 100%;
    }
    .main-banner-image{
        position: relative;
    }
    .title-wrapper{
        margin-left: 20px;
        width: 73%;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $brand-button;        
        h1{
            display: block;
            font-size: .9rem;
            color: #fff;
            text-align: center;
            margin-bottom: 0px;
            padding: 3px 10px;
            text-transform: uppercase;
        }
    }
    .title-wrapper:before {
        content: url("../../assets/img/before-el-sm.svg");
        display: flex;
        position: absolute;
        height: 30px;
        width: 30px;
        left: -50px;
        top: 6px;
    }

    .right-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        .text-wrapper{
            width: 535px;
        }
        h1{
            font-size: 1.5rem;
        }
        p{
            margin-bottom: 48px;
        }
        a{
            background-color: $brand-button;
            color: #fff !important;
            padding: 10px 24px;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}



/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {
    .main-banner{
        .right-side{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 55px;
        }
        .title-wrapper{
            margin-left: 16px;
            width: 393px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $brand-button;        
            h1{
                display: block;
                padding: 10px 10px;
                font-size: .8rem;
                white-space: nowrap;
            }
        }
        .title-wrapper:before{
            content: url("../../assets/img/before-el-sm.svg");
            display: flex;
            position: absolute;
            height: 30px;
            width: 30px;
            left: -50px;  
            top: 2px;          
        }
    }
}
@media all and (min-width: 626px) {
    .main-banner{
        .title-wrapper{
            width: 495px;
            h1{
                padding: 15px 10px;
                font-size: 1rem;
            }
        }
        .title-wrapper:before{
            display: flex;
            top: 7px;
            left: -60px;;
        }
    }
}
@media all and (min-width: 768px) {
    .main-banner{
        .title-wrapper{
            margin-left: 20px;
            width: 640px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $brand-button;        
            h1{
                display: block;
                padding: 10px 10px;
                font-size: 1.3rem;
                white-space: nowrap;
            }
        }
        .title-wrapper:before{
            content: url("../../assets/img/before-el-sm.svg");
            display: flex;
            position: absolute;
            height: 30px;
            width: 30px;
            left: -65px;  
            top: 6px;          
        }
    }
}

@media all and (min-width: 992px) {
.main-banner{
    .second-banner-image{
        padding-top: 7px;
    }
    .left-side{
        width: 49.5%;

    }
    .right-side{
        width: 49.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        .text-wrapper{
            width: 535px;
        }
        p{
            margin-bottom: 20px;
        }
        a{
            padding: 8px 44px;
        }
    }

}
}

@media all and (min-width: 1200px) {
.main-banner{
    .second-banner-image{
        padding-top: 7px;
    }
    .left-side{
        width: 49.5%;

    }
    .right-side{
        width: 49.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        .text-wrapper{
            width: 535px;
        }
        h1{
            font-size: 2.5rem;
        }
        p{
            margin-bottom: 48px;
        }
        a{
            padding: 7px 36px;
            font-size: 1.5rem;
        }
    }
        .title-wrapper{
            margin-left: 10px;
            width: auto;
            position: absolute;   
            h1{
                display: block;
                padding: 18px 10px;
                font-size: 2rem;
                white-space: nowrap;
            }
        }
        .title-wrapper:before{
            content: url("../../assets/img/before-el.svg");
            display: flex;
            position: absolute;
            height: 68px;
            width: 63px;
            left: -123px;  
            top: 3px;          
        }
    }
}