.patented-stackdoor{
    padding-top: 34px;
    padding-bottom: 22px;
    h1{
        font-size: 1.5rem;
        padding-bottom: 4px;
    }
    .blue{
        color: $brand-button;
    }
    .bga-primary{
        background-color: $brand-primary;
    }
    .bga-secondary{
        background-color: $brand-secondary;
    }
    .patented-box{
        margin-bottom: 25px;
    }
    .patented-text{
        font-family: $brand-font-family;
        padding-bottom: 30px;
        font-size: .9rem;
    }
    .patented-box-inner{
        padding: 28px 0 20px;
    }
    .box-icon{
        margin-bottom: 8px;
    }
    .box-title{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 17px;
    }
    .box-text{
        padding: 0 18px;
        font-family: $brand-font-family;
        ul{
            li{
                border-bottom: 1px solid #a3a3a3 !important;
                padding: 6px 0;
                font-size: .9rem;
            }
            li:first-child{
                border-top: 1px solid #a3a3a3;
            }
        }
    }
}




/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 576px) {
.patented-stackdoor{
    .patented-box-inner{
        padding-bottom: 30px;
    }
    .box-text{
        padding: 0 46px;
        ul{
            li{
                border-bottom: 1px solid #c0ccd7;
                padding: 6px 0;
            }
        }
    }
}
}
@media all and (min-width: 768px) {
    .patented-stackdoor{
        padding-top: 64px;
        padding-bottom: 46px;
        h1{
            font-size: 1.7rem;
        }
        .patented-box{
            margin-bottom: 10px;
        }
        .patented-box-inner{
            height: 346px;
        }
        .box-text{
            padding: 0 24px;
        }     
    }
}

@media all and (min-width: 992px) {
    .patented-stackdoor{
        padding-top: 64px;
        h1{
            font-size: 1.7rem;
        }

        .patented-box-inner{
            height: 322px;
        }
        .box-text{
            padding: 0 44px;
        } 
        .box-title{
            font-size: 1.45rem;
            margin-bottom: 17px;
        }    
    }
}

@media all and (min-width: 1200px) {
    .patented-stackdoor{
        padding-top: 64px;
        h1{
            font-size: 2.5rem;
        }
        .patented-text{

            padding-bottom: 44px;
        }
        .patented-box-inner{
            padding-top: 44px;
            padding-bottom: 33px;
            min-height: 347px;
            height: auto;
        }
        .box-title{
            font-size: 1.7rem;
            margin-bottom: 19px;
            margin-top: 10px;
        } 
        .box-text{
            padding: 0 40px;
            ul{
                li{
                    padding: 10px 0;
                }
            }
        }    
    }
}
