.product-range{
    img{
        width: 100%;
    }
    .product-range-title{
        padding-top: 32px;
        padding-bottom: 22px;
        h1{
            font-size: 1.5rem;
        }
    }
    .blue{
        color: $brand-button;
    }
    .box-content{
        background-color: $brand-secondary;
        height: auto;
        margin-bottom: 35px;
        padding-bottom: 20px;
    }
    .box-title{
        color: #fff;
        background-color: $brand-button;
        width: 83%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        line-height: 60px;
        font-size: 1.45rem;
        margin-top: -30px;
    }
    .box-text{
        padding: 56px 32px 10px;
        font-family: $brand-font-family;
        font-weight: 200;
        font-size: .93rem;
    }
    .call-us-button{
        color: #fff;
        background-color: $brand-button;
        display: inline-block;
        padding: 10px 24px;
        font-size: 1rem;
        font-weight: 600;
        padding-top: 8px;
    }
    .call-us{
        padding-bottom: 36px;
    }
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 576px) {
    .product-range{
        .product-range-title{
            padding-top: 42px;
            padding-bottom: 32px;
        }
        .box-content{
            height: 430px;
            margin-bottom: 35px;
            padding-bottom: 20px;
        }
        .box-text{
            padding: 46px 26px 10px;
            font-size: .93rem;
        }        
    }
}
@media all and (min-width: 768px) {
    .product-range{
        .product-range-title{
            padding-top: 72px;
            padding-bottom: 32px;
            h1{
                font-size: 1.7rem;
            }
        }
        .box-content{
            height: 325px;
        }
        .box-text{
            padding: 56px 32px 10px;
        }
        .call-us{
            padding-top: 8px;
            padding-bottom: 56px;
        }
    }
}

@media all and (min-width: 992px) {
    .product-range{
        .product-range-title{
            padding-top: 42px;
            padding-bottom: 32px;
        }
        .box-content{
            height: 375px;
        }
        .box-text{
            padding: 56px 32px 10px;
        }
        .call-us-button{
            padding: 7px 36px;
            font-size: 1.5rem;
            font-weight: 600;
        }
        .call-us{
            padding-bottom: 66px;
        }
    }
}

@media all and (min-width: 1200px) {
    .product-range{
        .product-range-title{
            padding-top: 72px;
            padding-bottom: 32px;
            h1{
                font-size: 2.5rem;
            }
        }
        .box-content{
            height: 335px;
        }
        .box-text{
            line-height: 26px;
        }
    }
}
