section.signup {
    margin: 10px 0 60px 0;
    .signup-bg {
        background: #f6f6f6;
        padding: 20px 20px 12px 20px;
        form {
            display: inline-block;
            width: 100%;
            #fieldEmail {
                border: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                width: 100%;
                float: left;
                height: 60px;
                padding: 10px;
                font-size: 20px;
            }
            button {
                border: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                width: 100%;
                float: left;
                height: 60px;
                background: $brand-primary;
                padding: 18px 30px;
                display: block;
                font-size: 22px;
                line-height: 20px;
                border: 0;
                font-family: "soleto", Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0 auto;
            }
        }
    }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
/*tablets*/
@media all and (min-width: 768px) {

}

/*small laptops*/
@media all and (min-width: 992px) {
    section.signup {
        .signup-bg {
            form {
                #fieldEmail {
                    width: 80%;
                }
                button {
                    width: 20%;
                }
            }
        }
    }
}

/*large laptops*/
@media all and (min-width: 1200px) {

}