.stack-in-action-gallery{
    overflow: hidden;
    // display: grid;
    // display:-webkit-grid;
    // grid-template-columns: repeat(2, 50%);
    // -ms-grid-colums: repeat(2, 50%);
    img{
        height: 100%;
        width: 100%;
    }
}
.main-gallery{
    overflow: hidden;
    position: relative;
}
.gallery-banner{
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    .blue{
        color: $brand-button;
    }
    h1{
        padding: 10px 16px;
        font-size: 1.1rem;
        margin-bottom: 0px;
        white-space: nowrap;
    }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 576px) {
    .stack-in-action-gallery{
        // grid-template-columns: repeat(3, 33.3%);
    }
    .gallery-banner{
        width: auto;
        h1{
            padding: 12px 36px;
            font-size: 2.2rem;
        }
    }
}

@media all and (min-width: 992px) {
    .gallery-banner{
        h1{
            padding: 12px 116px;
            font-size: 2.3rem;
        }
    }    
}

@media all and (min-width: 1200px) {
    .gallery-banner{
        h1{
            padding: 12px 166px;
        }
    }   
}