.stack-in-action{
    background-color: $brand-secondary;
    .stack-in-action-row{
        padding-top: 55px;
        padding-bottom: 23px;
    }
    .stack-in-action-text{
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 28px;
        padding-top: 20px;
    }
    .box-action{
        margin-bottom: 36px;
    }
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 576px) {
    .stack-in-action{
        .stack-in-action-row{
            padding-top: 65px;
            padding-bottom: 43px;
        }
    }
}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
.stack-in-action{
    background-color: $brand-secondary;
    .stack-in-action-row{
        padding-top: 65px;
        padding-bottom: 73px;
    }
    .stack-in-action-text{
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 28px;
        padding-top: 24px;
    }
    .box-action{
        margin-bottom: 0px;
    }
}
}

@media all and (min-width: 1200px) {
    .stack-in-action{
        .stack-in-action-text{
            font-size: 1.7rem;
        }
    }
}