body {
    font-family: 'Rajdhani', sans-serif !important;
    font-style: normal;
    font-size: 1em;
    color: $text-color;
    line-height: 1.125em;
    font-weight: 300;
    width: 100%;
    background: white;
    max-width: 1920px;
    margin: 0 auto !important;
}

a:focus{
    outline: none!important;
}

.container {
    position: relative;
    max-width: 75em;
    margin: 0 auto;
    padding: 0 20px;
}

.full-width {
  width: 100%;
}

.no-pad-bottom {
    padding-bottom: 0;
}

.no-pad-top {
    padding-top: 0;
}
.no-pad {
    padding: 0;
}

.align-left {
    text-align: left;
}

.page-content, .entry-content, .entry-summary, .hentry {
    margin: 0;
}

.minus-margin {
    display: inline-block;
    width: 100%;
}
a {
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

a:focus{
    outline: none !important;
}


/**
 * Clear Fix
 */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

::selection {
    background: $brand-light;
}

::-moz-selection {
    background: $brand-light;
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
    .no-pad-bottom {
        padding-bottom: 0;
    }
    .no-pad-top {
        padding-top: 0;
    }
    .no-pad {
        padding: 0;
    }
    .minus-margin {
        margin-right: -20px;
        margin-left: -20px;
    }
}
@media all and (min-width: 992px) {
}