// Colors
$brand-primary: #9fccee;
$brand-button: #009ee3;
$brand-secondary: #d0eaf5;
$brand-bg: #f6f8fd;
$brand-light: #E0E5A5;
$brand-darker: #64a84f;
$text-color: #3c3c3b;

$black: #000000;
$gray-darkest: #373a3c;
$gray-darker: #58585a;
$gray-dark: #666666;
$gray: #73767B;
$gray-light: #f5f5f5;
$gray-lighter: #e9e9e9;
$gray-lightest: #f0f0f0;
$white: #ffffff;

$body-color: $gray;

// Type
$brand-font-family: "open-sans",sans-serif;

$font-size-h1: 2.5rem;
$font-size-h2: 2.1rem;
$font-size-h3: 2rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.3rem;

// Buttons
$btn-padding-x: 34px;
$btn-padding-y: 8px;
$btn-font-weight: 600;

// Inputs
$input-border-focus: $brand-primary;
$input-color: $gray-darkest;
$input-box-shadow-focus: transparentize($input-border-focus, 0.4);




$bg-color: #fff;


