.contact{
    padding-top: 50px;
    padding-bottom: 36px;
    background-color: $brand-bg;
    .contact-title{
        margin-bottom: 38px;
        h1{
            font-size: 1.5rem;
        }
        .blue{
            color: $brand-button;
        }
    }

    .wpcf7-form {
        font-family: $brand-font-family;
        .form-group{
            margin-bottom: 9px;
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #000 !important;
            opacity: 1;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #000 !important;
            opacity: 1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #000 !important;
            opacity: 1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #000 !important;
            opacity: 1;
        }
        .wpcf7-list-item {
            margin: 0 10px 0 0;
        }
        input {
            width: 100%;
            border-radius: 0px;
            border: none;
            font-size: 1rem;
            color: #000;
            padding: 9px 24px;
            margin-right: 6px;
        }
        input[type="checkbox"] {
            width: 12px;
        }
        select{
            width: 100%;
            border-radius: 0px;
            border: none;
            font-size: 1rem;
            color: #000;
            padding: 9px 22px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url(../../assets/img/dropdown.svg);
            background-repeat: no-repeat;
            background-position: 97%;
            background-color: #fff;
        }

        textarea{
            border-radius: 0px;
            border: none;
            font-size: 1rem;
            color: #000;
            padding: 9px 24px;
        }
        .select-datasheets{
            padding: 8px 10px 8px 25px;
            background-color: #fff;
            color: #000;
            span{
                label{
                    font-size: .7rem;
                    display: flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    display: -ms-flex;
                    span{
                        white-space: nowrap;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .form-button{
            margin: 0 auto;
            margin-top: 20px;
            width: 213px;
            input{
                font-family: 'Rajdhani', sans-serif !important;
                padding: 13px 24px;
                color: #fff;
                background-color: $brand-button;
                font-size: 1rem;
            }
        }
        .wpcf7-not-valid-tip{
            padding-left: 23px;
        }
        .recaptcha {
            margin: 20px auto 10px auto;
            overflow: hidden;
            .wpcf7-recaptcha {
                div {
                    margin: 0 auto;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {
    .contact{
        padding-top: 60px;
        padding-bottom: 56px;
        .contact-title{
            margin-bottom: 38px;
        }
        .wpcf7-form{
            .form-button{
                width: 323px;
                input{
                    font-family: 'Rajdhani', sans-serif !important;
                    padding: 13px 24px;
                    color: #fff;
                    background-color: $brand-button;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media all and (min-width: 992px) {
    .contact{
        padding-top: 60px;
        padding-bottom: 56px;
        .contact-title{
            margin-bottom: 38px;
            h1{
                font-size: 2.45rem;
            }
        }
    }
}

@media all and (min-width: 1200px) {

}
